# Archivos comunes del sistema o del IDE
.DS_Store
Thumbs.db
*.log

# Entornos virtuales
*.venv/
venv/
env/

# Node y Python comunes (por si se ejecutan comandos desde raíz)
node_modules/
__pycache__/

# Configs globales de Visual Studio Code
.vscode/
